
@{
    ViewData["Title"] = "Login";
}

<h1>Login Page!!</h1>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h2><strong>Login Page </strong></h2><br />
            <form asp-action="login" method="post">
                <div class="form-group">
                    <label>User Name</label>
                </div>
                <input type="text" class="form-control" id="userName" name="userName" placeholder="Enter user name">
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="Password" id="password" placeholder="Password">
                </div>
                <div class="form-check">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button class="btn btn-info" type="reset">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>


